.elementor-2395 .elementor-element.elementor-element-8f1e004 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2395 .elementor-element.elementor-element-8f1e004:not(.elementor-motion-effects-element-type-background), .elementor-2395 .elementor-element.elementor-element-8f1e004 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1C202C00;}.elementor-2395 .elementor-element.elementor-element-8f1e004 > .elementor-container{max-width:1120px;}.elementor-2395 .elementor-element.elementor-element-8f1e004{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:-165px;padding:10px 0px 10px 0px;z-index:999;}.elementor-2395 .elementor-element.elementor-element-8f1e004, .elementor-2395 .elementor-element.elementor-element-8f1e004 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-2395 .elementor-element.elementor-element-8f1e004 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-2395 .elementor-element.elementor-element-a1c48ed.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2395 .elementor-element.elementor-element-a1c48ed.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2395 .elementor-element.elementor-element-e214d79 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2395 .elementor-element.elementor-element-e214d79{text-align:left;}.elementor-2395 .elementor-element.elementor-element-e214d79 img{width:100%;}.elementor-bc-flex-widget .elementor-2395 .elementor-element.elementor-element-5076b02.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2395 .elementor-element.elementor-element-5076b02.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2395 .elementor-element.elementor-element-5076b02.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2395 .elementor-element.elementor-element-fb1f089{width:auto;max-width:auto;align-self:center;--nav-menu-icon-size:25px;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle{margin:0 auto;background-color:#00000000;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle{color:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown{background-color:#1C202CC4;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a:hover,
					.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle:hover{color:#0072F6;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a:hover,
					.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a.highlighted{background-color:#00000000;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a.elementor-item-active{color:#0072F6;background-color:#00000000;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .elementor-item, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Exo", Sans-serif;font-size:28px;font-weight:600;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a{padding-top:30px;padding-bottom:30px;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:-100px !important;}.elementor-2395 .elementor-element.elementor-element-fb1f089 div.elementor-menu-toggle{color:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-fb1f089 div.elementor-menu-toggle svg{fill:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-fb1f089 div.elementor-menu-toggle:hover{color:#07E5F0;}.elementor-2395 .elementor-element.elementor-element-fb1f089 div.elementor-menu-toggle:hover svg{fill:#07E5F0;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle:hover{background-color:#00000000;}.elementor-2395 .elementor-element.elementor-element-f621af0 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-2395 .elementor-element.elementor-element-f621af0:not(.elementor-motion-effects-element-type-background), .elementor-2395 .elementor-element.elementor-element-f621af0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#232839;}.elementor-2395 .elementor-element.elementor-element-f621af0 > .elementor-container{max-width:1120px;}.elementor-2395 .elementor-element.elementor-element-f621af0 > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2395 .elementor-element.elementor-element-f621af0{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:220px 0px 70px 0px;z-index:1;}.elementor-2395 .elementor-element.elementor-element-47daf83e{z-index:5;}.elementor-2395 .elementor-element.elementor-element-456e6b44 .elementor-button{background-color:#00000000;font-family:"Barlow Condensed", Sans-serif;font-size:20px;font-weight:500;line-height:1.2em;letter-spacing:0.1px;fill:#FFFFFF;color:#FFFFFF;padding:0px 0px 0px 0px;}.elementor-2395 .elementor-element.elementor-element-456e6b44 .elementor-button-content-wrapper{flex-direction:row;}.elementor-2395 .elementor-element.elementor-element-456e6b44 .elementor-button:hover, .elementor-2395 .elementor-element.elementor-element-456e6b44 .elementor-button:focus{color:#07E5F0;}.elementor-2395 .elementor-element.elementor-element-456e6b44 .elementor-button:hover svg, .elementor-2395 .elementor-element.elementor-element-456e6b44 .elementor-button:focus svg{fill:#07E5F0;}.elementor-2395 .elementor-element.elementor-element-ed9f175:not(.elementor-motion-effects-element-type-background), .elementor-2395 .elementor-element.elementor-element-ed9f175 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#232839;}.elementor-2395 .elementor-element.elementor-element-ed9f175 > .elementor-container{max-width:800px;}.elementor-2395 .elementor-element.elementor-element-ed9f175 > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2395 .elementor-element.elementor-element-ed9f175{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-260px;margin-bottom:0px;padding:300px 0px 60px 0px;z-index:0;}.elementor-2395 .elementor-element.elementor-element-7dfb6cb{z-index:5;}.elementor-2395 .elementor-element.elementor-element-d54ae0d{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;align-self:center;text-align:left;}.elementor-2395 .elementor-element.elementor-element-d54ae0d .elementor-heading-title{font-family:"Barlow Condensed", Sans-serif;font-size:20px;font-weight:600;line-height:1.2em;letter-spacing:0.1px;color:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-36fac78{--alignment:right;width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;align-self:center;--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;--e-share-buttons-primary-color:#73CB9900;--e-share-buttons-secondary-color:#01AFF8;}.elementor-2395 .elementor-element.elementor-element-36fac78 .elementor-share-btn__icon{--e-share-buttons-icon-size:2.2em;}.elementor-2395 .elementor-element.elementor-element-36fac78 .elementor-share-btn:hover{--e-share-buttons-primary-color:#02010100;--e-share-buttons-secondary-color:#07E5F0;}.elementor-2395 .elementor-element.elementor-element-ee57466{--divider-border-style:solid;--divider-color:#07E5F012;--divider-border-width:1px;}.elementor-2395 .elementor-element.elementor-element-ee57466 .elementor-divider-separator{width:100%;}.elementor-2395 .elementor-element.elementor-element-ee57466 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-2395 .elementor-element.elementor-element-8b0ba60{text-align:left;color:#FFFFFFD6;font-family:"Barlow Condensed", Sans-serif;font-size:18px;font-weight:400;line-height:1.6em;letter-spacing:0.1px;}.elementor-2395 .elementor-element.elementor-element-6f543d3:not(.elementor-motion-effects-element-type-background), .elementor-2395 .elementor-element.elementor-element-6f543d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#414F78;background-image:url("../../2023/03/blogsessao.jpg");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-2395 .elementor-element.elementor-element-6f543d3 > .elementor-container{max-width:1120px;}.elementor-2395 .elementor-element.elementor-element-6f543d3 > .elementor-background-overlay{opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2395 .elementor-element.elementor-element-6f543d3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 100px 0px;z-index:0;}.elementor-2395 .elementor-element.elementor-element-53698f0{z-index:2;}.elementor-2395 .elementor-element.elementor-element-a9017fe > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2395 .elementor-element.elementor-element-a9017fe{text-align:left;}.elementor-2395 .elementor-element.elementor-element-a9017fe .elementor-heading-title{font-family:"Exo", Sans-serif;font-size:50px;font-weight:800;line-height:1.2em;letter-spacing:0.1px;color:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-74f9011{--divider-border-style:solid;--divider-color:#07E5F012;--divider-border-width:1px;}.elementor-2395 .elementor-element.elementor-element-74f9011 .elementor-divider-separator{width:100%;}.elementor-2395 .elementor-element.elementor-element-74f9011 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-2395 .elementor-element.elementor-element-f21f7b4:not(.elementor-motion-effects-element-type-background), .elementor-2395 .elementor-element.elementor-element-f21f7b4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1C202C;}.elementor-2395 .elementor-element.elementor-element-f21f7b4 > .elementor-container{max-width:1120px;}.elementor-2395 .elementor-element.elementor-element-f21f7b4{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}.elementor-2395 .elementor-element.elementor-element-f21f7b4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2395 .elementor-element.elementor-element-e04b11d{padding:0px 0px 20px 0px;}.elementor-2395 .elementor-element.elementor-element-660f7cf > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-2395 .elementor-element.elementor-element-78030bf{text-align:left;}.elementor-2395 .elementor-element.elementor-element-78030bf img{width:30%;}.elementor-2395 .elementor-element.elementor-element-7c5beec{width:var( --container-widget-width, 85% );max-width:85%;--container-widget-width:85%;--container-widget-flex-grow:0;align-self:center;text-align:left;color:#EFEFEF;font-family:"Barlow Condensed", Sans-serif;font-size:14px;font-weight:400;line-height:1.2em;letter-spacing:0.1px;}.elementor-bc-flex-widget .elementor-2395 .elementor-element.elementor-element-9b5ceb3.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-2395 .elementor-element.elementor-element-9b5ceb3.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-2395 .elementor-element.elementor-element-9b5ceb3 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-2395 .elementor-element.elementor-element-f132e62{--grid-template-columns:repeat(3, auto);--icon-size:20px;--grid-column-gap:5px;--grid-row-gap:0px;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-widget-container{text-align:right;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-social-icon{background-color:#59607859;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-social-icon i{color:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-social-icon svg{fill:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-social-icon:hover{background-color:#596078B8;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-social-icon:hover i{color:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-social-icon:hover svg{fill:#FFFFFF;}.elementor-2395 .elementor-element.elementor-element-0136fed{text-align:right;color:#EFEFEF;font-family:"Barlow Condensed", Sans-serif;font-size:14px;font-weight:400;line-height:1.2em;letter-spacing:0.1px;}.elementor-2395 .elementor-element.elementor-element-2bc017b{--divider-border-style:solid;--divider-color:#07E5F012;--divider-border-width:1px;}.elementor-2395 .elementor-element.elementor-element-2bc017b .elementor-divider-separator{width:100%;}.elementor-2395 .elementor-element.elementor-element-2bc017b .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-2395 .elementor-element.elementor-element-8f6ecb4{text-align:center;}.elementor-2395 .elementor-element.elementor-element-8f6ecb4 .elementor-heading-title{font-family:"Barlow Condensed", Sans-serif;font-size:14px;font-weight:600;line-height:1.2em;letter-spacing:0.1px;color:#EFEFEF;}.elementor-2395 .elementor-element.elementor-element-f6cbdc5 > .elementor-container{max-width:1000px;}body.elementor-page-2395:not(.elementor-motion-effects-element-type-background), body.elementor-page-2395 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1C202C;}@media(min-width:768px){.elementor-2395 .elementor-element.elementor-element-a1c48ed{width:95%;}.elementor-2395 .elementor-element.elementor-element-5076b02{width:5%;}}@media(min-width:2400px){.elementor-2395 .elementor-element.elementor-element-e214d79 img{width:25%;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:-85px !important;}.elementor-2395 .elementor-element.elementor-element-d54ae0d .elementor-heading-title{font-size:24px;}.elementor-2395 .elementor-element.elementor-element-ee57466 .elementor-divider{text-align:center;padding-block-start:5px;padding-block-end:5px;}.elementor-2395 .elementor-element.elementor-element-ee57466 .elementor-divider-separator{margin:0 auto;margin-center:0;}.elementor-2395 .elementor-element.elementor-element-74f9011 .elementor-divider{text-align:center;padding-block-start:5px;padding-block-end:5px;}.elementor-2395 .elementor-element.elementor-element-74f9011 .elementor-divider-separator{margin:0 auto;margin-center:0;}.elementor-2395 .elementor-element.elementor-element-2bc017b .elementor-divider{text-align:center;padding-block-start:5px;padding-block-end:5px;}.elementor-2395 .elementor-element.elementor-element-2bc017b .elementor-divider-separator{margin:0 auto;margin-center:0;}}@media(max-width:1024px){.elementor-2395 .elementor-element.elementor-element-e214d79 > .elementor-widget-container{padding:0px 0px 0px 20px;}.elementor-2395 .elementor-element.elementor-element-e214d79 img{width:100%;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:-100px !important;}.elementor-2395 .elementor-element.elementor-element-ed9f175 > .elementor-container{max-width:680px;}.elementor-2395 .elementor-element.elementor-element-ed9f175{margin-top:-290px;margin-bottom:0px;} .elementor-2395 .elementor-element.elementor-element-36fac78{--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;}.elementor-2395 .elementor-element.elementor-element-78030bf img{width:49%;}}@media(max-width:767px){.elementor-2395 .elementor-element.elementor-element-8f1e004{margin-top:0px;margin-bottom:-110px;padding:4px 0px 4px 0px;}.elementor-2395 .elementor-element.elementor-element-a1c48ed{width:80%;}.elementor-2395 .elementor-element.elementor-element-e214d79 > .elementor-widget-container{padding:0px 0px 0px 10px;}.elementor-2395 .elementor-element.elementor-element-e214d79{text-align:left;}.elementor-2395 .elementor-element.elementor-element-e214d79 img{width:75%;}.elementor-2395 .elementor-element.elementor-element-5076b02{width:20%;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .elementor-item, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:22px;word-spacing:0.1em;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown a{padding-top:25px;padding-bottom:25px;}.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:-100px !important;}.elementor-2395 .elementor-element.elementor-element-f621af0{padding:150px 0px 50px 0px;}.elementor-2395 .elementor-element.elementor-element-456e6b44 .elementor-button{font-size:18px;line-height:1.2em;letter-spacing:0.1px;}.elementor-2395 .elementor-element.elementor-element-ed9f175{margin-top:-300px;margin-bottom:0px;padding:330px 0px 50px 0px;}.elementor-2395 .elementor-element.elementor-element-7dfb6cb > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-2395 .elementor-element.elementor-element-d54ae0d{width:100%;max-width:100%;text-align:center;}.elementor-2395 .elementor-element.elementor-element-d54ae0d .elementor-heading-title{font-size:16px;}.elementor-2395 .elementor-element.elementor-element-36fac78{--alignment:center;width:100%;max-width:100%;} .elementor-2395 .elementor-element.elementor-element-36fac78{--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;}.elementor-2395 .elementor-element.elementor-element-36fac78 .elementor-share-btn__icon{--e-share-buttons-icon-size:2.2em;}.elementor-2395 .elementor-element.elementor-element-8b0ba60{font-size:16px;}.elementor-2395 .elementor-element.elementor-element-6f543d3{padding:50px 0px 50px 0px;}.elementor-2395 .elementor-element.elementor-element-a9017fe{text-align:center;}.elementor-2395 .elementor-element.elementor-element-a9017fe .elementor-heading-title{font-size:30px;}.elementor-2395 .elementor-element.elementor-element-f21f7b4{padding:50px 0px 50px 0px;}.elementor-2395 .elementor-element.elementor-element-660f7cf > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 20px 0px;}.elementor-2395 .elementor-element.elementor-element-78030bf{text-align:center;}.elementor-2395 .elementor-element.elementor-element-78030bf img{width:50%;max-width:50%;}.elementor-2395 .elementor-element.elementor-element-7c5beec{width:100%;max-width:100%;text-align:center;}.elementor-2395 .elementor-element.elementor-element-9b5ceb3 > .elementor-element-populated{padding:20px 0px 20px 0px;}.elementor-2395 .elementor-element.elementor-element-f132e62 .elementor-widget-container{text-align:center;}.elementor-2395 .elementor-element.elementor-element-0136fed{width:100%;max-width:100%;text-align:center;}.elementor-2395 .elementor-element.elementor-element-8f6ecb4 .elementor-heading-title{font-size:14px;}}/* Start custom CSS for nav-menu, class: .elementor-element-fb1f089 */.elementor-menu-toggle.elementor-active .elementor-menu-toggle__icon--open, .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle:not(.elementor-active) .elementor-menu-toggle__icon--close{
    display: block !important;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    filter: blur(10px);
    transform: scale(0);
    
}


.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle.elementor-active .elementor-menu-toggle__icon--close{
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: 0.5s 0.20s ;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle.elementor-active .elementor-menu-toggle__icon--open{
    opacity: 0;
    filter: blur(10px);
    transform: scale(0);
    transition: 0.5s;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle .elementor-menu-toggle__icon--open{
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: 0.5s 0.20s ;
}



.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle{
    z-index: 99999999999999;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-widget-container {
    z-index: 2;
}


.elementor-2395 .elementor-element.elementor-element-fb1f089{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 100vh;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container{
    height: 110vh;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .elementor-nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container{
    max-height: 100px;
    z-index: 999999999;
    clip-path: circle(0% at 50% 50%);
    transition: max-height 0s 1s ease-in-out, clip-path 0.7s ease-in-out;
    transform: none !important;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-active + .elementor-nav-menu__container{
     clip-path: circle(100%);
     max-height: 110vh;
     transition: clip-path 0.5s ease-in-out;
     
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}   

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu a{
    transform: 0.5s;
}


.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown {
    --quantidade: 4;
    text-align: center;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .menu-item:nth-child(1){
    --ordem: 0;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .menu-item:nth-child(2){
    --ordem: 1;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .menu-item:nth-child(3){
    --ordem: 2;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .menu-item:nth-child(4){
    --ordem: 3;
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .menu-item:nth-child(5){
    --ordem: 4;
}


.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu--dropdown .menu-item {
    filter: blur(12px);
    -webkit-filter: blur(12px);
    transform: translatex(-20px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: calc(0.1s * (var(--quantidade) - (var(--ordem) + 1)));
}

.elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-menu-toggle.elementor-active ~ .elementor-nav-menu--dropdown .menu-item {
    filter: blur(0px);
    -webkit-filter: blur(0px);
     transform: translatex(0px);
    opacity: 1;
    transition-delay: calc(0.2s * var(--ordem));
}

@media(max-width: 1024px) {
    .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container {
        height: 102vh;
        overflow: hidden;
    }
}

@media(max-width: 767px) {
    .elementor-2395 .elementor-element.elementor-element-fb1f089 .elementor-nav-menu__container {
        height: 110vh;
        overflow: hidden;
    }
}

@media(max-width: 767px) {
body::-webkit-scrollbar{
    width: 0px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8f1e004 */#sheader.elementor-sticky--effects {
background-color: #1C202Cff;
padding: 0px 2px 0px 2px;
transition: all .5s ease;
 border-bottom: 1px solid;
 border-image: linear-gradient(to bottom,
#ffffff, #ffffff ) 1;
}

.logo img {
max-width: 200px;
height: auto;
transition: all 0.5s ease;
}

.elementor-sticky--effects .logo img {
max-width: 150px;
height: auto;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f621af0 */.elementor-2395 .elementor-element.elementor-element-f621af0::before{
     content: "";
    position: absolute;
    top: 40%;
    left: calc(60%);
    right: inherit;
    width: 600px;
    height: 600px;
    background: #01aff8;
    border-radius: 100%;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    pointer-events: none;
    animation: ligth 5s 2s infinite;
    -webkit-animation: ligth 5s 2s infinite;
    opacity: 0;
}

.elementor-2395 .elementor-element.elementor-element-f621af0::after{
    content: "";
    position: absolute;
    top: 70%;
    left: calc(-20%);
    right: inherit;
    width: 400px;
    height: 400px;
    background: #07e5f0;
    border-radius: 100%;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    pointer-events: none;
    animation: ligth 5s infinite;
     -webkit-animation: ligth 5s infinite;
    opacity: 0;
}


@keyframes ligth{
    0%, 100%{
        opacity: 0;
    }
    
    50%{
        opacity:0.65;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6f543d3 */.elementor-2395 .elementor-element.elementor-element-6f543d3:before{
    top: -1px;
    height: 2px;
    background-color: #1c202c;
}

.elementor-2395 .elementor-element.elementor-element-6f543d3:before, .elementor-2395 .elementor-element.elementor-element-6f543d3:after{

    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
}

.elementor-2395 .elementor-element.elementor-element-6f543d3:after{

    top: 0;
    height: 30%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1c202c));
    background-image: -o-linear-gradient(top, transparent, #1c202c);
    background-image: linear-gradient(to top, transparent, #1c202c);

}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f21f7b4 */.elementor-2395 .elementor-element.elementor-element-f21f7b4 {
 border-top: 1px solid !important; 
 border-image: linear-gradient(90deg, #80e27d00,  #60677259, #80e27d00) 1;
}


.elementor-2395 .elementor-element.elementor-element-f21f7b4::before {
    left: 0;
    top: 30%;
    width: 194px;
    height: 297px;
    background: url("../../2023/03/blur-left.png") no-repeat;
    pointer-events: none;
    -webkit-animation: down-left 6s infinite;
    animation: down-left 6s infinite;
    
}
.elementor-2395 .elementor-element.elementor-element-f21f7b4::before, .elementor-2395 .elementor-element.elementor-element-f21f7b4::after {
   content: "";
    position: absolute;
    pointer-events: none;
    background-size: cover !important;
    -webkit-filter: blur(70px);
    filter: blur(70px);
}

.elementor-2395 .elementor-element.elementor-element-f21f7b4::after {
    right: 0;
    top: 20%;
    width: 194px;
    height: 297px;
    background: url("../../2023/03/blur-right.png") no-repeat;
    pointer-events: none;
    -webkit-animation: down-right 6s infinite;
    animation: down-right 6s infinite;
}

.elementor-2395 .elementor-element.elementor-element-f21f7b4::before, .elementor-2395 .elementor-element.elementor-element-f21f7b4::after {
    content: "";
    position: absolute;
    pointer-events: none;
    mix-blend-mode:  screen;
    background-size: cover !important;
    -webkit-filter: blur(70px);
    filter: blur(70px);
}



@keyframes down-right{
    
    0%{
        top:30%;
        -webkit-transform:translateX(-100px);
        transform:translateX(-100px)}
    
    50%{
        top:80%;
    -webkit-transform:translateX(0px);
    transform:translateX(0px)}
    
    100%{
        top:30%;
    -webkit-transform:translateX(-100px);
    transform:translateX(-100px)}
    
}


@keyframes down-left{
    
    0%{
        top:20%;
        -webkit-transform:translateX(0);
    transform:translateX(0)}
    
    50%{
        top:70%;
        -webkit-transform:translateX(-100px);
        transform:translateX(-100px)}
    
    100%{
        top:20%;
        -webkit-transform:translateX(0);
    transform:translateX(0)}
    
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-e0c0a0a */.noise {
    display: block;
    width: 100vw;
    height: 100vh;
    opacity: .12;
    background-image: url('../../../../../ciparoni.com/wp-content/uploads/2022/04/noise-gif-square-anim.gif');
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    mix-blend-mode: screen;
}/* End custom CSS */
/* Start custom CSS */html, body{
    width: 100%;
    overflow-x: hidden;
}

p{
    margin-bottom: 0px;
}
p:last-child{
    margin-bottom: 0px;
}/* End custom CSS */